body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00140c;
}

canvas {
    position: absolute;
}

h1 {
    color: white;
    position: absolute;
    top: 0;
    margin: 0;
}

@media only screen and (max-width: 768px) {
    video, canvas {
        width: 580px;
        height: 480px;
    }
}

@media only screen and (max-width: 600px) {
    video, canvas {
        width: 460px;
        height: 400px;
    }
}

@media only screen and (max-width: 490px) {
    video, canvas {
        width: 340px;
        height: 280px;
    }
}

@media only screen and (max-width: 360px) {
    video, canvas {
        width: 100%;
        height: 100%;
    }
}